/* General */
* {
    font-family: 'Montserrat', sans-serif;
    padding: 0.2rem;
    box-sizing: border-box;
    letter-spacing: 0.8px;
}

/* Text */
body {
    background-color: #19191a;
}

h1 {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0.1rem;
}

h2 {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.3rem;
    color: #D7DBDD;
    margin-top: 0.01rem;
    margin-bottom: 0.01rem;
}

h3 {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.3rem;
    color: #7D7D7D;
    margin-top: 0.01rem;
    margin-bottom: 0.01rem;
}

p {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.5;
    color: #CCCCCC;
}

/* Image */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5px;
    margin-top: 0.5px;
    max-width: 100%;
    height: auto;
    padding: 8px;
}

button {
    display: block;
    margin-left: 2rem;
    margin-right: 2rem;
    max-width: 100%;
    height: auto;
    padding: 10px;
    cursor: pointer;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/* Hamburger menu */
.hamburger-menu {
    position: relative;
    background-color: #19191A;
    border-bottom: 1px solid #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
}

/* Hamburger Icon */
.hamburger-icon {
    font-size: 30px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
}

/* Menu Items */
.menu-items {
    position: fixed;
    top: 0;
    right: -75%;
    background-color: #242325;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: right 0.3s ease;
    border-left: 1px solid #FFFFFF;
}

/* Bar links */
.menu-items ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.menu-items li {
    margin: 25px 0;
}

.menu-items a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2rem;
    padding: 65px 0;
    display: block;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #5A595B;
}

/* Transitions */
.menu-items a.active {
    background-color: #AF0E31;
    color: #FFFFFF;
}

/* Hover if possible for mobile */
.menu-items a:hover {
    background-color: #444444;
}

/* Show menu when active */
.menu-items.active {
    right: 0;
}

/* Contact */
.contact-section {
    text-align: left;
    border-top: 1px solid #5A595B;
}

.contact-section h3 {
    color: #FFFFFF;
}

.contact-info {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.contact-info a {
    color: #CCCCCC;
    font-weight: 600;
}

.contact-info a:hover {
    color: #FFFFFF;
}

.contact-info .linkedin,
.contact-info .discord {
    display: block;
    margin-bottom: 2px;
}

/* Horizontal line */
hr {
    border: 0;
    border-top: 0.1px solid #5A595B;
    width: 100%;
    margin: 0.4px;
}

/* Image container */
.images-container {
    max-width: auto;
    height: auto;
    display: flex;
}

.images-container .image {
    position: center;
}

/* SCROLL BUTTON */
.scroll-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    background-color: #AF0E31;
    color: #FFFFFF;
    border-radius: 1rem;
    padding: 3rem 5rem;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
    display: block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.text-background {
    background-color: #ffffff;   
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;    
}

.custom-bold {
    display: block;  
    background-color: transparent; 
    color: #19191A;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.5rem;
    border-top: 2px solid #19191A;
    border-bottom: 2px solid #19191A; 
    width: 100%;
    text-align: left;  
}

/* Custom PDF Link buton */
.custom-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    background-color: #AF0E31;
    color: #FFFFFF; 
    border-radius: 0.5rem;
    padding: 3rem 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

/* Link Button Styles */
.link-button {
    background-color: #AF0E31; /* Background color for the link button */
}

.link-button:hover {
    background-color: #9C0E26; /* Darker background when hovering */
}